In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-07-17 23:28:05,-34.4187,19.2345,49.80,82,0,7.27
1,1,Turukhansk,RU,2022-07-17 23:28:06,65.8167,87.9833,55.62,65,35,10.47
2,2,Port Elizabeth,ZA,2022-07-17 23:28:06,-33.9180,25.5701,72.10,34,0,8.05
3,3,Shu,KZ,2022-07-17 23:28:06,43.5983,73.7614,73.47,42,0,6.17
4,4,Santa Cruz Cabralia,BR,2022-07-17 23:28:07,-16.2781,-39.0247,71.83,94,75,2.30

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Victoria,HK,2022-07-17 23:26:35,22.2855,114.1577,87.96,82,100,10.00
8,8,Aswan,EG,2022-07-17 23:28:08,24.0934,32.9070,86.56,21,92,10.45
10,10,Carutapera,BR,2022-07-17 23:28:09,-1.1950,-46.0200,76.19,90,53,7.25
18,18,Vila Franca Do Campo,PT,2022-07-17 23:23:31,37.7167,-25.4333,75.20,83,46,5.68
29,29,Kunjah,PK,2022-07-17 23:28:14,32.5285,73.9737,82.44,58,13,1.12
30,30,Tabou,CI,2022-07-17 23:23:28,4.4230,-7.3528,75.42,79,94,11.18
33,33,Albanel,CA,2022-07-17 23:28:15,48.8832,-72.4487,78.78,50,97,4.61
38,38,Tabuk,PH,2022-07-17 23:28:17,17.4189,121.4443,76.80,90,76,2.46
43,43,Georgetown,MY,2022-07-17 23:28:18,5.4112,100.3354,82.89,91,20,2.30
47,47,Hithadhoo,MV,2022-07-17 23:29:19,-0.6000,73.0833,79.07,78,100,20.94

In [10]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
6               Victoria      HK     87.96  22.2855  114.1577
8                  Aswan      EG     86.56  24.0934   32.9070
10            Carutapera      BR     76.19  -1.1950  -46.0200
18  Vila Franca Do Campo      PT     75.20  37.7167  -25.4333
29                Kunjah      PK     82.44  32.5285   73.9737
30                 Tabou      CI     75.42   4.4230   -7.3528
33               Albanel      CA     78.78  48.8832  -72.4487
38                 Tabuk      PH     76.80  17.4189  121.4443
43            Georgetown      MY     82.89   5.4112  100.3354
47             Hithadhoo      MV     79.07  -0.6000   73.0833

In [31]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.