## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vieux-Habitants,GP,84.70,few clouds,16.0589,-61.7659,Clos du Manguier
1,3,Kavaratti,IN,80.94,overcast clouds,10.5669,72.6420,Green leaf
2,4,Victoria,HK,87.33,overcast clouds,22.2855,114.1577,Mini Central
3,5,Jamestown,US,87.06,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,6,Heiligenhafen,DE,73.74,clear sky,54.3667,10.9833,Aparthotel Ostseeresidenz Heiligenhafen

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Prompt the user to enter vacation_start/end,  vacation_stop1, vacation_stop2, vacation_stop3
input('Ready to Identify your vacation itinerary (Yes or No)')
vacation_start_city = input('From what city will you start your vacation?')
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input('What is the first city to stop on your vacation?')
vacation_2_stop_city = input('What is the second city to stop on your vacation?')
vacation_3_stop_city = input('What is the third city to stop on your vacation?')

Ready to Identify your vacation itinerary (Yes or No)yes
From what city will you start your vacation?Goderich
What is the first city to stop on your vacation?Shelburne
What is the second city to stop on your vacation?Cornwall
What is the third city to stop on your vacation?Blind River

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_2_stop_city]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_3_stop_city]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,8,Goderich,CA,78.91,overcast clouds,43.7501,-81.7165,Harmony Inn

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create vacation itinerary Layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING"
)

fig.add_layer(vacation_itinerary)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Goderich,CA,78.91,overcast clouds,43.7501,-81.7165,Harmony Inn
1,453,Shelburne,CA,86.31,scattered clouds,44.0787,-80.2041,The Retreat at the Farm
2,565,Cornwall,CA,86.25,few clouds,45.0181,-74.7281,Ramada by Wyndham Cornwall
3,284,Blind River,CA,76.42,overcast clouds,46.1834,-82.9582,Auberge Eldo Inn

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# get the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
# create marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))